node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

cypress/videos/
cypress/screenshots/
cypress/reports/
allure-results/
allure-report/

cypress.env.json

.DS_Store

.idea/
.vscode/
